body{
    font: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}

#container {
    width: 80%;
/*    border: 1px solid black;*/
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#header {
/*    height: 125px;*/
/*    border: 1px solid black;*/
    padding: 10px 0px;
    display: flex;
    flex-wrap: wrap;
}

h1 a{
    font-size: 80px;
    font-family: "Gabriola", cursive;
    text-decoration: none;
    font-weight: 500;
    color: blue;
    margin-left: 40px;
    
}

#brandheader {
    margin: 0px;
}

#brand {
    flex: 1 0 auto;
}

#searchWrapper{
    display: flex;
    flex: 1 0 auto;
    justify-content: flex-end;
    align-items: center;
}

#searchBox {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    background: linear-gradient(rgba(0, 0, 255, 0.3), rgba(0, 0, 255, 0.7));
    background: -webkit-linear-gradient(rgba(0, 0, 255, 0.3), rgba(0, 0, 255, 0.7));
    background: -moz-linear-gradient(rgba(0, 0, 255, 0.3), rgba(0, 0, 255, 0.7));
    background: -o-linear-gradient(rgba(0, 0, 255, 0.3), rgba(0, 0, 255, 0.7));
    background: -ms-linear-gradient(rgba(0, 0, 255, 0.3), rgba(0, 0, 255, 0.7));
    padding: 20px;
}

.searchText {
    width: 272.5px;
    padding: 5px;
    font-size: 15px;
    color: orange;
    background: white url(images/searchicon.png) right center no-repeat;
    border: 1px solid rgba(0, 0, 255, 0.6);
    margin-right: 7px;
}

.submit {
    padding: 5px;
    font-weight: bold;
    color: white;
    background: orange;
    font-size: 15px;
}


#menu {
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(rgba(255, 165, 0, 0.3), rgba(255, 165, 0, 0.7));
    background: -webkit-linear-gradient(rgba(255, 165, 0, 0.3), rgba(255, 165, 0, 0.7));
    background: -moz-linear-gradient(rgba(255, 165, 0, 0.3), rgba(255, 165, 0, 0.7));
    background: -o-linear-gradient(rgba(255, 165, 0, 0.3), rgba(255, 165, 0, 0.7));
    background: -ms-linear-gradient(rgba(255, 165, 0, 0.3), rgba(255, 165, 0, 0.7));
    padding: 20px 0px;
/*    border: 1px solid black;*/
}

ul{
    list-style: none; 
}

#menu a{
    padding: 0 30px;
    height: 30px;
    border-right: 1px solid blue;
}

#menu a:last-child{
    border-right: none;
}

#menu a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    color: blue;
    line-height: 30px;
    transition: font-size 0.3s ease;
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
}

#menu a:hover, #menu a.active{
    font-size: 20px;
    font-weight: bold;
    color: darkviolet;
}

#introduction{
    background: linear-gradient(rgba(0, 0, 255, 0.3), rgba(0, 0, 255, 0.7));
    background: -webkit-linear-gradient(rgba(0, 0, 255, 0.3), rgba(0, 0, 255, 0.7));
    background: -moz-linear-gradient(rgba(0, 0, 255, 0.3), rgba(0, 0, 255, 0.7));
    background: -o-linear-gradient(rgba(0, 0, 255, 0.3), rgba(0, 0, 255, 0.7));
    background: -ms-linear-gradient(rgba(0, 0, 255, 0.3), rgba(0, 0, 255, 0.7));
    padding: 30px;
    margin: 16px 0px;
}

#introduction h3{
    font-size: 45px;
    color: orange;
    text-shadow:        -1px 1px 0 #000000;
    font-weight: normal;
}

#introduction p{
    font-size: 25px;
    color: #1f2833;
    text-align: justify;
}

/*sidebars*/
.sidebars{
    display: flex;
    flex-wrap: wrap;
}

.sidebarWrapper{
    padding: 5px;
    flex: 50%;
}

.sidebar{
    height: 100%;
    width: 100%;
    border: 1px solid #BAF46F;
    border-radius: 20px;
    padding: 10px 30px;
/*
    flex: 50%;
    margin: 10px;
*/
}

.sidebar h3{
    color: orange;
    text-shadow:        -0.5px 0.5px 0 #000000;
    font-size: 30px;
}

.sidebar ul{
    padding-top: 8px;
}

#leftsidebar ul li{
    padding: 4px 0px 4px 10px;
    list-style-image: url(images/arrow.png);
    margin-left: 30px;
}

#rightsidebar ul li{
    padding: 17px 0px 17px 70px;
    background: url(images/tick.png) no-repeat left center;
}
.sidebar ul li a{
    text-decoration: none;
    font-size: 20px;
    color: blue;
    transition: font-size 0.3s ease;
    -webkit-transition: font-size 0.3s ease;
    -moz-transition: font-size 0.3s ease;
    -o-transition: font-size 0.3s ease;
    -ms-transition: font-size 0.3s ease;
}

.sidebar ul li a:hover, .sidebar ul li a:active{
    text-decoration: none;
    color: darkviolet;
    font-size: 23px;
    font-weight: bold;
}


.footer{
    height: 60px;
    background: linear-gradient(rgba(255, 165, 0, 0.3), rgba(255, 165, 0, 0.7));
    background: -webkit-linear-gradient(rgba(255, 165, 0, 0.3), rgba(255, 165, 0, 0.7));
    background: -moz-linear-gradient(rgba(255, 165, 0, 0.3), rgba(255, 165, 0, 0.7));
    background: -o-linear-gradient(rgba(255, 165, 0, 0.3), rgba(255, 165, 0, 0.7));
    background: -ms-linear-gradient(rgba(255, 165, 0, 0.3), rgba(255, 165, 0, 0.7));
    padding: 10px 30px;
    margin-top: auto;
}

@media screen and (max-width: 900px){
    .sidebar ul li a{
        font-size: 15px;
    }
    
    .sidebar ul li a:hover, .sidebar ul li a:active{
        font-size: 17px;
    }
}

@media screen and (max-width: 650px){
    #container{
        width: 90%;
    }
    
    #menu{
        flex-direction: column;
        align-items: center;
    }
    
    #menu a{
        border-right: none;
    }
    
    #searchBox{
        flex: 1;
    }
    
    #introduction h3{
        font-size: 35px;
    }
    
    #introduction p{
        font-size: 20px;
    }
}

@media screen and (max-width: 580px){
    .sidebar ul li a{
        font-size: 20px;
    }
    
    .sidebar ul li a:hover, .sidebar ul li a:active{
        font-size: 23px;
    }
}

